<!DOCTYPE html>
<html>
    <head>
        <title>Information</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </head>
    <body style="background-image: url({{url_for('static',filename='India-flag.jpg')}});">
        <div class="w3-bar w3-red w3-card w3-left-align w3-large">
            <img src="{{ url_for('static',filename='gov.jpg')}}" style="height: 50px;width:50px;">
            <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
            <a href="/information.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">How to report?</a>
            <a href="/report.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Report</a>
            <a href="/login-signup-official.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login / Signup Officials</a>
          </div>
        <h1>To see change...We have to change!!!</h1>
        <iframe width="1000" height="700"
        src="https://www.youtube.com/embed/CSFYAod0wqE">
        </iframe> 
    </body>
</html>